<!--contiene titulo-->

<div class="container-fluid">
    <div id="home" class="row align-items-center hero scroll_section">
        <div class="col-lg-3 offset-lg-2">
            <h1>Flexibilidad Elongación Contorsión</h1>
            <h5>Entrenamiento integral</h5>
        </div>
    </div>
</div>


<!--termina titulo rectangular-->
<!--comienzan novedades de tips-->

<div class="row my-3">
    <div id="novedades" class="col-md-5 offset-md-2 py-3 scroll_section">
        <h3 class="text-center">Novedades</h3>
        <ul class="lista-novedades">
            {{#each novedades}}
            <li>
                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modal{{ id }}">
                    <img src="{{imagen}}" width="120"> {{ titulo }}
                </a>
            </li>
            {{/each}}
        </ul>
        <div class="modal-body">
            <h4> {{subtitulo}} </h4>
            <img src=" {{imagen}} ">
            <p> {{cuerpo}} </p>
        </div>


    </div> <!--cierra novedades de tips-->
    {{#each novedades}}
    <!--inicio modal-->
    <div class="modal" tabindex="-1" id="modal{{ id }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titulo}} </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="modal-body">
                        <h4> {{subtitulo}} </h4>
                        <p> {{cuerpo}} </p>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--fin modal-->
    {{/each}}
    <!--cierra div con id novedades-->
    <!--inicio div cambios-->
    <div class="col-md-3 my-3">
        <h3 class="text-center"> Antes / Después </h3>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/cambio1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/cambio2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/cambio3.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!--fin div cambios-->

    <!--inicio nosotros-->
    <div class="col-md-4 offset-md-2">
        <div id="historia" class="row align-items-center py-4 scroll_section">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="images/mifoto.jpeg" class="img-fluid rounded-start" alt="align-items-center">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Sobre mí</h5>
                            <p class="card-text">Comencé haciendo Yoga Artístico a los 7 años, luego a los 9 seguí con
                                Contorsión
                                Deportiva y Danzada. Desde entonces participé en competencias y torneos del CENARD hasta
                                realizar las
                                formaciones que hoy me permiten enseñar lo que tanto me gusta hacer.</p>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--fin nosotros-->


    <!--inicio mapa-->
    <div class="container">

        <div id="mapa" class="row py-4 scroll_section">
            <div class="col-md-4 offset-md-2">
                <h2>Ubicación</h2>
                <div class="mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26297.075391563336!2d-58.49361455317349!3d-34.52482212084785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6a6386ba5c9%3A0xb8039ed75861da4d!2sVicente%20L%C3%B3pez%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1690207073795!5m2!1ses!2sar">
                    </iframe>
                </div>
            </div>
            <!--fin mapa-->

            <!--inicio formulario-->
            <div class="col-md-4 mt-4 mt-sm-0">
                <h2>Contacto</h2>
                <div class="container">
                    <form action="/" method="post" class="formulario">
                        <p>
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre">
                        </p>
                        <p>
                            <label for="email">Email</label>
                            <input type="text" name="email">
                        </p>
                        <p>
                            <label for="telefono">Teléfono</label>
                            <input type="text" name="tel">
                        </p>

                        <p>
                            <label for="mensaje">Mensaje</label>
                            <textarea name="mensaje"></textarea>
                        </p>

                        <p class="acciones"><input type="submit" value="Enviar" /></p>

                    </form>

                    <p> {{message}} </p>
                </div>
                <!--fin form contacto-->